{{ define "main" }}
<div class="product-container">
  <div id="groups" class="styles">
    <ul>
      <h3><a href="/action-groups/food-desert">Food Deserts</a></h3>
      <p>Environmental and equity issues often overlap, like in the case of food deserts. These are areas, often low-income, where people can't easily get fresh, healthy food. This lack of access, due to wider environmental and planning issues, can lead to health problems and underlines the need for sustainable solutions.</p>
    </ul>
  </div>
</div>
{{ end }}