{{ define "main" }}
<div class="product-container">
  <div id="groups" class="styles">
    <ul>
      <h3><a href="./food-desert">Food Insecurity</a></h3>
      <p>Food insecurity and food deserts are prominent examples of how environmental and equity issues can intersect. Often found in low-income areas, these regions are characterized by a lack of easy access to fresh, healthy food. This scarcity, influenced by broader environmental and planning challenges, not only leads to health problems but also emphasizes the urgent need for sustainable solutions that address both the food needs and underlying inequalities.</p>
    </ul>
  </div>
</div>
{{ end }}