.blog-post {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 20px;
}

.post-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post-title {
    color: darken(#D8BFD8, 15%);
    font-size: 2.3em;
    font-weight: 500;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
}

.meta {
    font-style: italic;
    color: #555;
}

.meta .date:before {
    content: 'Posted on ';
}

.meta .dateu:before {
    content: 'Last updated on ';
}

.meta .author:before {
    content: ' by ';
}

.post-content {
    line-height: 1.6;
}

.blog-post h3 {
    color: darken(#D8BFD8, 15%);
    margin: 10px 0;
    font-weight: 400;
}

.post-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
}

.categories, .tags {
    display: inline-block;
    margin-right: 20px;
}

.category, .tag {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
}

.category:hover, .tag:hover {
    background: #ccc;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-back, .nav-next {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px; /* This gives the pill shape */
    background-color: #f8f9fa;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none; /* To remove the default border of buttons */
    outline: none; /* To remove the default outline of buttons */
}

.nav-back:hover, .nav-next:hover {
    background-color: #D8BFD8;
    color: #f8f9fa;
}

.nav-next i {
    margin-right: 5px;
}

.nav-next a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-next a:hover {
    color: #f8f9fa;
}

.share-btn {
    display: inline-block;
    margin-right: 15px;
    width: 40px; // or size of your logo
    height: 40px;
    background-color: #FFFFFF; // background of your logos if needed
    border-radius: 4px;
    transition: opacity 0.3s;
    
    &.facebook {
        background-image: url('/images/social-icons/facebook-logo.svg');
    }
    
    &.twitter {
        background-image: url('/images/social-icons/twitter-logo.svg');
    }
    
    &.pinterest {
        background-image: url('/images/social-icons/pinterest-logo.svg');
    }
    
    &.linkedin {
        background-image: url('/images/social-icons/linkedin-logo.svg');
    }
    
    &.reddit {
    background-image: url('/images/social-icons/reddit-logo.svg');
    }

    &:hover {
        opacity: 0.8;
    }
}

figure {
    width: 100%;
    display: block;
    margin: 0 auto; 
    text-align: center; 
}

figure img {
    border-radius: 10px;
    
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.sticky-cta {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #D8BFD8; // Tech Green
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 1000; // Ensure it stays above other elements
    cursor: pointer;
    transition: all 0.3s; // smooth hover effect

    &:hover {
        background-color: darken(#D8BFD8, 10%); // slightly darker on hover
    }
}
