html, body {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Nunito', sans-serif;
}

a {
	color: $brand-color-2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

h1 strong, h2 strong {
	font-weight: 800;
}

h1 {
	font-weight: 800;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 700;
	font-size: 2.2em;
	margin: 0;
}

h3 {
  font-weight: 600;
	font-size: 2rem;
	margin: 20px 0 10px 0;
}

h4 {
  font-weight: 400;
	font-size: 1.4rem;

	a {
		color: #000;
	}
}

p, address, label, ul {
  font-weight: 400;
	font-size: 1.2rem;
	color: #666;
	margin-bottom: 20px;
	line-height: 1.4em;
}

ul {
	padding-left: 1em;
}