.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px; /* This gives the pill shape */
    background-color: #f8f9fa;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none; /* To remove the default border of buttons */
    outline: none; /* To remove the default outline of buttons */
}

.nav-button:hover {
    background-color: #2196F3;
    color: #f8f9fa;
}

.nav-item {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px; /* This gives the pill shape */
    background-color: #f8f9fa;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #2196F3;
    color: #f8f9fa;
}

.nav-item i {
    margin-right: 5px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.map-container {
  display: flex;
}

#map {
  width: 65%;
  height: 600px;
}

#marker-list {
  width: 35%;
  height: 500px;
  overflow-y: auto;
}

@media (max-width: 1000px) {
  #map,
  #marker-list {
    width: 100%;
    height: 350px;
  }
}

.card {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer; }

.card:hover {
  background-color: #f0f0f0; }

.leaflet-popup-content {
  line-height: 1.5; }

.leaflet-marker-icon {
  background-color: transparent !important;
  border: none !important; }

.leaflet-div-icon i {
  font-size: 20px; }

.pantry-icon {
  color: green; }

.meal-icon {
  color: orange; }

.hover-highlight {
  color: yellow !important; }

.selected-highlight {
  color: red !important; }


.container, .text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 750px;
}

.container {
	max-width: 1350px;

	&.max-container {
		max-width: 100%;
		padding: 0;
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	position: relative;
	//z-index: 99;
	h2 {
		font-size: 3.2rem;
		line-height: 1.5;
		font-weight: bold;
	}

	@media (min-width: 500px) {
		h2 {
			font-size: 3.5rem;
		}
	}

	p {
		color: #fff;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.company-name {
	display: inline-block;
	position: relative;
	top: 4px;
	a {
		display: block;
	}

	svg {
		display: inline-block;
		height: 25px;
		width: 25px;
	}

	span {
		font-size: 16px;
		position: relative;
		top: -6px;
		left: 3px;
	}
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 2px;
	padding: 20px 0 0;
	background: #DDD url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="12" viewBox="0 0 44 12"><circle cx="6" cy="6" r="4" fill="#eee" /><circle cx="22" cy="6" r="4" fill="#eee" /><circle cx="38" cy="6" r="4" fill="#eee" /></svg>') 4px 4px no-repeat;
	box-shadow: 0px 0px 50px rgba(0,0,0,.2);
}


section {
	padding: 100px 0;
}

section + section {
	padding-top: 0;
}

.subtext {
	margin-top: 10px;
	text-align: center;
}


.cta {
	margin: 60px 0;
}

.page h2 {
	text-align: center;
}

blockquote {
	padding: 18px 25px;
	margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;
	line-height: 2.5;
	font-size: 1.1em;
	max-width: 900px;

	.author {
		display: block;
		font-weight: bold;
		margin: 20px 0 0 0;
		font-size: 1.1em;
		font-style: normal;
		text-align: right;
	}

	p {
		display: inline;
	}
}

blockquote .quote:before,
blockquote .quote:after {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.1em;
	vertical-align: -0.4em;
}

blockquote .quote:after {
	content: close-quote;
}

.page {
	margin-bottom: 0;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}

.thirds {
	display: flex;
	margin: 0 -20px 0 -40px;
	flex-wrap: wrap;
}

.thirds div {
	flex: 1 1 200px;
	padding: 100px 40px 0 40px;
}

.leaflet-control-layers-expanded {
  width: 200px; /* Set the width to your desired size */
  height: 75px; /* You can also set a specific height if needed */
  max-height: 75px; /* This can control how tall the control can get, with overflow-y set to auto or scroll */
  overflow-y: hidden; /* This can make the control scrollable if it gets too tall */
}

.leaflet-control-layers-expanded .leaflet-control-layers-overlays + span {
  padding-top: 0px;
  padding-bottom: 0px;
}

.leaflet-control-layers-expanded .leaflet-control-layers-selector,
.leaflet-control-layers-expanded .leaflet-control-layers-selector + span {
  font-size: 12px; /* Set to your desired font size */
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  line-height: 1;
  overflow: hidden;
}


.signposts {
    padding: 4px 6px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
	pointer-events: none;
}

.hideSignpost {
display: none;
}

/* Styles the direction arrows */
.signposts svg {
color: #404040;
max-width: 14px;
max-height: 14px;
vertical-align: top;
position: relative;
top: 1px;
margin-right: 3px;
width: 14px;
}

/* The CSS below determines the locations of the new placeholders for controls */
/* Leaflet assigns classes to determine location eg. ".leaflet-bottom .leaflet-right" */
/* The addControlPlaceholders function creates new locations, referred to by these new classes */

.leaflet-y25, .leaflet-y75, .leaflet-x25, .leaflet-x75, .leaflet-bottomAdj {
    position: absolute;
	z-index: 400;
    pointer-events: none;
}

.leaflet-y25 {
	top: 25%;
    transform: translateY(-50%);
	}
	
.leaflet-y75 {
	top: 75%;
    transform: translateY(-50%);
		}
		
.leaflet-x25 {
	left: 25%;
    transform: translateX(-50%);
		}
		
.leaflet-x75 {
	left: 75%;
    transform: translateX(-50%);
		}

.leaflet-bottomAdj {
	bottom: 10px; /* Used to prevent overlap with Leaflet attribution text */
	transform: translateY(-50%);
}