@media #{$below-mid-point} {
	.nav-open {

		nav {
			border: 0;
			z-index: 2;

			a {
				display: block;
			}
		}
	}
}

nav {
	width: 100%;
	padding: 20px 0 0 0;

	@media #{$mid-point} {
		display: inline-block;
		vertical-align: top;
		width: auto;
		padding: 0 0 0 40px;
	}

	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid $brand-color-2;
		color:darken($brand-color-2, 20%);
		transition: 200ms ease-in color;
		display: none;

		@media #{$mid-point} {
			display: inline-block;
			padding: 20px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 0;
			top: -22px;
			font-size: 1.9em;
			border: 0;
			z-index: 2;
			padding: 20px;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		color: brighten($brand-color-2, 20%);
	}


	a.cart {
		line-height: 1;

		i {
			font-size: 22px;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 2px;

		}
	}

	@media #{$mid-point} {
		a.cart {
			border-radius: 40px;
			color: darken($brand-color-2, 20%);
			border: 1px solid darken($brand-color-2, 10%);
			position: absolute;
			right: 20px;
			top: 5px;
			font-size: .8em;
			transition: border .3s ease;


			&:hover {
				border-color: #fff;
			}
		}
	}

	a.active {
		color: $brand-color;
	}

}

.company-name {
  span {
      bottom: 2px;
			color: darken($brand-color-2, 20%);
		}
}
