@import "variables";
$pastel-red: #FF6B6B; 
$pastel-teal: #008080;

.name-wrapper {
      display: flex;
      justify-content: space-between;
    
      .first-name,
      .last-name {
        flex: 1;
        margin-right: 10px;
    
        &:last-child {
          margin-right: 0;
        }
      }
    }

.special-offer-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    
    .popup-close-btn {
            position: absolute;
            right: 15px;
            top: 10px;
            cursor: pointer;
            font-size: 24px;
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        width: 80%;
        max-width: 550px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        h3 {
            color: darken($brand-color-2, 20%);
            margin-bottom: 20px;
            text-align: center;
            
            span {
              color: darken($brand-color, 10%);
            }
        }
        
        p, form {
            margin-bottom: 20px;
        }

        input, select, button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
        button {
          color: white;
          border: none;
          background-color: $brand-color-2;
          font-weight: 400;
          text-align: center;
          width: 60%;
          height: 50px;
          margin-left: 20%; 
          margin-right: 15%;
          border-radius: 5px;
          cursor: pointer;
          
          &:hover {
    				background-color: darken($brand-color-2, 20%);
    			}
        }
    }
}
