.styles {
	width: 100%;
	background: lighten(#FFE4D4, 4%);
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 3px;

	.style-picker {
		z-index: 2;
		display: block;
		line-height: 0;
		position: absolute;
		bottom: 20px;
		right: 20px;

		> div {
			width: 20px;
			height: 20px;
			border: 1px solid #000;
			display: inline-block;
			margin: 0 5px 0 0;
			border-radius: 20px;
			cursor: pointer;
		}
	}




	i {
		font-size: 14rem;
		color: #fff;
	}
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -40px;

	.styles {
		width: auto;
		flex: 1 1 300px;
		margin-left: 40px;
	}

	.product-details {
		flex: 2 1 500px;
		text-align: left;
		margin-left: 40px;

		h4 {
			color: $brand-color;
		}
	}

	form {
		border: 1px solid #444;
		padding: 20px;
		border-radius: 2px;

		label:first-child {
			margin-top: 0;
		}
	}
}

.product-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // grid layout
	gap: 20px;
	margin: 0 -20px;

	&, > li {
		list-style: none;
		padding: 0;
	}

	> li {
		position: relative;

		&:hover .quick-view, 
		&:hover .add-to-cart-btn {
			opacity: 1;
			visibility: visible;
		}
		
		img {
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
		
		.quick-view, 
		.add-to-cart-btn {
			position: absolute;
			top: 85%;
			left: 20%;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s;
			z-index: 1
		}

		.add-to-cart-btn {
			background-color: $brand-color;
			font-size: 1rem;
			padding: 10px 15px;
			border: none;
			border-radius: 3px;
			cursor: pointer;
			color: #fff;
		}
	}

	h4, p {
		margin-top: 10px;
	}

	h4 a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	p.price {
		color: darken($brand-color, 10%);
	}

	.product-description p {
		font-size: 1.1rem;
	}

	.snipcart-add-item {
		-webkit-appearance: none;
		color: #222;
		text-decoration: none;
		border: 0;
		background: none;
		font-weight: bold;
		font-size: 1.2em;
		padding: 10px 15px 15px;
		float: right;
		cursor: pointer;
		line-height: 1;
		margin-top: 10px;

		&:hover {
			background: darken($brand-color, 10%);
			color: white;
		}
	} 
}
