{{ define "main" }}

<div class="product-container">
  <div id="groups" class="styles">

    {{ range .Site.RegularPages.ByDate.Reverse }}
        {{ if strings.Contains .File.Dir "action-groups\\food-desert\\blog" }}
        <div class="product-item">

            <a href="{{ .RelPermalink }}">
                {{ with .Params.thumbnail }}
                <img src="{{ . }}" alt="{{ $.Title }}" class="product-image"/>
                {{ end }}
                
                <h3 class="product-title">{{ .Title }}</h3>
                <p class="product-subtitle">{{ .Params.subtitle }}</p>
            </a>

        </div> <!-- end of product-item -->
        {{ end }}
    {{ end }}
  </div>
</div> <!-- end of product-container -->

{{ end }}
