{{ define "main" }}

<ul class="blog-post-list">
    {{ range .Site.RegularPages.ByDate }}
        {{ if strings.Contains .File.Dir "blog\\smart-work" }}
            <li class="blog-post">
                <a href="{{ .Permalink | relURL }}" class="blog-post-link">
                    <div class="blog-post-details">
                        <h6>{{ .Title }}</h6>
                        <div class="blog-post-description">
                            {{ .Params.subtitle | markdownify | truncate 45 }}
                        </div>
                        {{ if .Params.thumbnail }}
                        <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" class="blog-post-image"/>
                        {{ end }}
                    </div>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>

{{ end }}







