{{ define "main" }}

<article>

    <header>
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>

        <div class="meta">
            <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
            <span class="author">{{ .Params.author }}</span>
        </div>
    </header>

    {{ .Content }}

    <footer>
        <div class="categories">
            Categories:
            {{ range .Params.categories }}
            <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>

        <div class="tags">
            Tags:
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    </footer>

</article>

{{ end }}