{{ define "main" }}

<article class="blog-post">

    <div class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>

        <div class="meta">
            <span class="dateu">{{ .Params.lastmod.Format "January 2, 2006" }}</span>
        </div>
    </div>

    <div class="post-content">
        {{ .Content }}
    </div>

    <div>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="share-btn facebook"></a>
      <a href="https://twitter.com/share?url={{ .Permalink }}&text=Check%20out%20this%20amazing%20post:" target="_blank" rel="noopener noreferrer" class="share-btn twitter"></a>
      <a href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ with .Params.pinterest_image }}{{ . }}{{ end }}&description={{ with .Params.pinterest_description }}{{ . | urlize }}{{ end }}" target="_blank" rel="noopener noreferrer" class="share-btn pinterest"></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="share-btn linkedin"></a>
      <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title | urlize }}" target="_blank" rel="noopener noreferrer" class="share-btn reddit"></a>
    </div>
</article>

<div class="sticky-cta-container">
    <a href="/" class="sticky-cta">Shop Now</a>
</div>

<div class="nav-buttons">
    {{ $current := . }}
    {{ $sections := split $current.RelPermalink "/" }}
    {{ $backURL := "" }}

    {{ if (eq (len $sections) 5) }}
        {{ $backURL = print "/blog/" (index $sections 2) "/" }}
    {{ else if (eq (len $sections) 4) }}
        {{ $backURL = "/blog/" }}
    {{ end }}
    <div class="nav-back" onclick="location.href='{{ $backURL }}';">
        Return to Blog
    </div>
    {{ $current := . }}
    {{ $next := .NextInSection }}
    {{ if $next }}
        <div class="nav-next" onclick="location.href='{{ $next.Permalink }}';">
            Next Post
        </div>
    {{ end }}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentUrl = window.location.href;
        document.querySelectorAll('a[target="_blank"]').forEach(link => {
            link.href = link.href.replace('YOUR_POST_LINK', encodeURIComponent(currentUrl));
        });
    });
</script>

{{ end }}
