{{ define "main" }}
<ul class="blog-post-list">
  <li class="blog-post">
    <a href="./smart-work" class="blog-post-link">
      <div class="blog-post-details">
        <h3>Smart Work</h3>
        <div class="blog-post-description">
          <p>How the Right Tools Can Change Your Life</p>
        </div>
      </div>
    </a>
  </li>
    <li class="blog-post">
    <a href="./ai" class="blog-post-link">
      <div class="blog-post-details">
        <h3>Crafting With AI</h3>
        <div class="blog-post-description">
          <p>How Senergy Group uses AI to suppliment our work.</p>
        </div>
      </div>
    </a>
  </li>
</ul>
{{ end }}