{{ define "main" }}
    <table id="nav-table">
            <tr>
                <td class="nav-item" data-target="#home">Home</td>
                <td class="nav-item" data-target="#help">Help</td>
                <td class="nav-item" data-target="#strategy">Strategy</td>
                <td class="nav-item" data-target="#data">Data</td>
                <td class="nav-item" data-target="#funding">Funding</td>
                <td class="nav-item" data-target="#location">Location</td>
                <td class="nav-item" data-target="#docs">Docs</td>
                <td class="nav-item" data-target="#members">Members</td>
                <td class="nav-item" data-target="#performance">Performance</td>
                <td class="nav-item" data-target="#qi">QI</td>
            </tr>
        </table>
        <div id="content">
            <div class="content-item" id="home">Home content...</div>
            <div class="content-item" id="help">Help content...</div>
            <div class="content-item" id="strategy">Strategy content...</div>
            <div class="content-item" id="data">Data content...</div>
            <div class="content-item" id="funding">Funding content...</div>
            <div class="content-item" id="location">Location content...</div>
            <div class="content-item" id="docs">Docs content...</div>
            <div class="content-item" id="members">Members content...</div>
            <div class="content-item" id="performance">Performance content...</div>
            <div class="content-item" id="qi">QI content...</div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/js/main.js"></script>
{{ end }}