<footer>
	<div class="container">
		<ul class="footer-columns">
			<li class="about">
				<div class="company-name">
            <img src="{{ "siteicon2.png" | absURL }}" alt="Company Logo">
            <span>{{ .Site.Title }}</span>
        </div>
  				<p class="editable">The intersection of Nature, Technology, and Art.</p>
			</li>

			<li class="footer-nav">
				<h4>General</h4>
				<ul>
					{{ range .Site.Menus.main }}
						{{ $new_window := .Params.new_window }}
						<li><a {{ if $new_window }}target="_blank" rel="noopener"{{ end }} href="{{ .URL | relURL }}">
							{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</li>

			<li class="footer-nav">
				<h4>Help</h4>

				<ul>
					{{ range .Site.Menus.footer }}
						{{ $new_window := .Params.new_window }}
						<li><a {{ if $new_window }}target="_blank" rel="noopener"{{ end }} href="{{ .URL | relURL }}">
							{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</li>

			<li>
				<h4>Contact Us</h4>
				<p>Need help with something? <a href="/contact/">Get in touch</a>.
				<p class="email"><a href="mailto:{{ .Site.Params.author.email }}">{{ .Site.Params.author.email }}</a></p>
				<p><a href="tel:{{ .Site.Params.author.phone }}">{{ .Site.Params.author.phone }}</a></p>

				<div class="social-icons">
					{{ range .Site.Data.socials }}
						<a {{ if .new_window }}target="_blank" rel="noopener"{{ end }} href="{{ .link | relURL }}" {{ with lower .social_icon }}class="{{ . }}"{{ end }}>
							{{ with .social_icon }}
								{{ partial "footer/social-icon" . }}
							{{ end }}
						</a>
					{{ end }}
				</div>
			</li>
		</ul>
	</div>
	
	<div class="special-offer-popup">
      <div class="popup-content">
        <span class="popup-close-btn">&times;</span>
          <h3>Snag the <span>Deal</span> Before It's Too Late!</h3>
          <p>Claim Your Exclusive 15% Off & Be One of the First to Fight Food Insecurity Through Fashion</p>
          <form action="https://formspree.io/f/xpzgklry" method="post">
              <input type="email" placeholder="Your Email" required>
              <div class="name-wrapper">
                  <input class="first-name" type="text" placeholder="First Name" required>
                  <input class="last-name" type="text" placeholder="Last Name" required>
              </div>
              <select name="primary-interest">
                  <option value="" disabled selected>What interests you most about our site?</option>
                  <option value="graphic-tshirts">Stylish Graphic Tees</option>
                  <option value="blog-content">Empowering Blog Content</option>
                  <option value="both">Both Fashion and the Blog</option>
                  <option value="other">Just Browsing</option>
              </select>
              <button type="submit"><b>Lock In My 15% & Make a Difference!</b></button>
          </form>
      </div>
  </div>
  
  <script>
        document.addEventListener('DOMContentLoaded', function() {
            let wasOnHomepage = window.location.pathname === '/';
            let hasSubscribed = sessionStorage.getItem('hasSubscribed');
            let popup = document.querySelector('.special-offer-popup');
            let closeButton = document.querySelector('.popup-close-btn');
            
            function displayPopup() {
                if (hasSubscribed !== 'true') {
                    popup.style.display = 'block';
                    popup.style.transition = 'opacity 0.5s ease-in-out';
                    popup.style.opacity = '1';
                }
            }
            
            /*if (window.location.pathname === '/' && hasSubscribed !== 'true') {
                setTimeout(displayPopup, 5000);  // Wait for 5 seconds
            }*/
    
            window.addEventListener('popstate', function() {
                if (wasOnHomepage) {
                    displayPopup();
                    history.pushState(null, null, window.location.href);
                }
            });
    
            window.addEventListener('beforeunload', function() {
                wasOnHomepage = window.location.pathname === '/';
            });
            
            document.querySelector('form').addEventListener('submit', function() {
                sessionStorage.setItem('hasSubscribed', 'true');
            });

            // Close popup event
            closeButton.addEventListener('click', function() {
                popup.style.opacity = '0';
                setTimeout(() => {
                    popup.style.display = 'none';
                }, 500);
            });
        });
    </script>

</footer>