<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.6/turf.min.js"></script>


<div class = "map-container clearfix">
  <div id="map"></div>
  <div id="marker-list">
    <h3 id="pantry-header"><i class="fas fa-shopping-basket"></i> Pantries</h3>
    <div id="pantry-list"></div>
    <h3 id="meals-header"><i class="fas fa-utensils"></i> Community Meals</h3>
    <div id="meals-list"></div></div>
</div>
<div id="filter" style="margin-top: 50px;">
  <label for="date">Select a Day:</label>
  <select id="day">
    <option value="">Select a day</option>
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>
  <button class="nav-button" onclick="filterMarkers()">Filter</button>
  <button class="nav-button" onclick="clearFilter()" type="button">Clear</button>
</div>

<script src="/map/locations.js"></script>
<script src="/map/main.js"></script>
<script src="/map/leaflet.signposts.js"></script>
<script src="/js/main.js"></script>
