{{ define "main" }}
<p class="editor-link" style="text-align: center; position: relative;
	top: -185px;"><a href="cloudcannon:collections/data/staff_members" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{{ range .Site.Data.staff_members }}
		<li>
			<div class="staff-image" style="background-image: url({{ .image_path }})"></div>
			<div class="name">{{ .name }}</div>
		</li>
	{{ end }}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Our Story</h3>
		<p class="editable">At Senergy Group, the name itself is a testament to our mission: 'Senergy' combines 'synergy' and 'energy', symbolizing the dynamic fusion of our passion for technology and its synergy with the world around us. Each of our t-shirts is a love letter to the planet, a reminder of the majestic scenes we strive to protect for future generations.</p>
		<p class="editable">Our journey has been marked by failure and success, learning, and evolution. Each setback, each failed business plan, was merely a stepping stone leading us closer to our true purpose - to unite people and foster a sense of harmony akin to that found in nature.</p>
		<p class="editable">We believe our shirts are more than just garments. They are wearable statements, championing the beauty of our world and the stunning convergence of nature and technology. When you wear a Senergy Group t-shirt, you wear a piece of our journey, our dream, and our love for this beautiful planet.</p>
		<p class="editable">Together, let's celebrate the synergy between the natural and the artificial, the wild and the wired. This is our story, and we're thrilled to share it with you.</p>
	</div>
</div>

{{ end }}