{{ define "main" }}
<p class="editor-link" style="text-align: center; position: relative;
	top: -185px;"><a href="cloudcannon:collections/data/staff_members" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{{ range .Site.Data.staff_members }}
		<li>
			<div class="staff-image" style="background-image: url({{ .image_path }})"></div>
			<div class="name">{{ .name }}</div>
		</li>
	{{ end }}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Our Story</h3>
		<p class="editable">Our founder has always found solace in graphic tees, using them as a canvas to express their thoughts and emotions without uttering a single word. Although artistic skills weren’t their strong suit (sorry, Mrs. Jansen!), they possessed a deep love for art. This love, coupled with a profound respect for nature and its inhabitants, led to a beautiful realization: why not harness the power of technology to translate the magic of nature into captivating graphic designs?</p>
		<p class="editable">Despite not knowing the programming language needed to create an AI model capable of generating graphic designs, our founder embraced the challenge, learning, experimenting, and failing, but always moving forward. After countless trials, they developed an AI capable of transforming the raw beauty of the natural world into digital art that they were not only happy with but proud of.</p>
		<p class="editable">At Senergy Group, the name itself is a testament to our mission: 'Senergy' combines 'synergy' and 'energy', symbolizing the dynamic fusion of our passion for technology and its synergy with the world around us. Each of our t-shirts is a love letter to the planet, a reminder of the majestic scenes we strive to protect for future generations.</p>
		<p class="editable">Our journey has been marked by failure and success, learning, and evolution. Each setback, each failed business plan, was merely a stepping stone leading us closer to our true purpose - to unite people and foster a sense of harmony akin to that found in nature.</p>
		<p class="editable">We believe our shirts are more than just garments. They are wearable statements, championing the beauty of our world and the stunning convergence of nature and technology. When you wear a Senergy Group t-shirt, you wear a piece of our journey, our dream, and our love for this beautiful planet.</p>
		<p class="editable">Together, let's celebrate the synergy between the natural and the artificial, the wild and the wired. This is our story, and we're thrilled to share it with you.</p>
	</div>
</div>

{{ end }}